
<%= current_user %>

<% @tweets.each do |e| %>
    <p>
       
        
        <%= e.message %>
       
       
            <%=link_to '削除', tweets_path(e), data: { turbo_method: :delete } %>
            <% if e.liked?(current_user) %>
                 <%= link_to 'いいね削除', likes_destory_path(e), method: :delete %>
            <% else %> 
                <%= link_to 'いいね', likes_create_path(tweet_id: e.id), date:{"turbo_method": :post} %>
            <% end %>
        
        
        
      
    </p>
<% end %>
<%= form_for @tweet , url: {action: :create} do |f| %>
   <%= f.label :message,'message'%>
    <%= f.text_field :message%>
    <%= f.submit'tweet'%>
<% end %>

<%= link_to 'ログアウト', tops_logout_path %>

