

<% @users.each do |e| %>
    <p>uid: <%= e.uid %>
    pass: <%= e.pass %>
        <%=link_to '削除', user_path(e), data: { turbo_method: :delete } %>
    </p>
<% end %>

<%=link_to '登録画面', new_user_path%>

<%=link_to 'ログイン', tops_main_path%>