<h1>カート</h1>
<% @cart_item.each do |e| %>

    <p>
    id:<%= e.id %>
    name: <%= e.name %>
    price: <%= e.price %>
    qty:<%=e.qty%>
    
    
    <%=link_to '削除', cart_items_path(e), data: { turbo_method: :delete } %>
       
    </p>
<% end %>
<p>
    <%= "合計：#{@total}円" %>
</p>

<%=link_to '削除', products_path %>

